.content{ 
    display:  flex;
    flex-direction: column;
    width: calc(100% - 350px);
    height: 100vh;
    overflow: hidden;
    
    .messages{
        width: 100%;
        background-color: #e6e6e6;
        overflow-y:  scroll;
        overflow-x: hidden;
        flex-grow: 1;

        .message-receive{
            display: flex;
            width: 100%;
        }

        .message-sent{
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }

        .message-system{
            width: 100%;
            display: flex;
            justify-content: center;

            .message{
                background-color: initial;
                color: gray;
                padding: 0;
            }
        }

        .message{
            width: fit-content;
            max-width: 90%;
            background-color: #fff;
            color: black;
            margin: 2px;
            padding: 10px;
            overflow-wrap: break-word;
            border-radius: 5px;
        }
    }

    .chat-box{
        display: flex;
        width: 100%;
        border: none;
        border-top: 1px solid rgba(0, 100, 255, .3);
        flex-grow: 0;
        
        input{
            display: flex;
            padding: 10px 0px 10px 20px;
            border: none;
            outline: none;
            color: #404040;
            flex-grow: 1;
        }

        .btn-submit{
            width: 35px;
            margin: 7px 20px 7px 7px;
            padding: 5px;
            background-color: #fff;
            color: rgba(0, 100, 255, 1);
            border: none;
            border-radius: 3px;
            font-weight: 600;
            flex-grow: 0;

            .sent-icon{
                height: 100%;
            }
        }

        .btn-submit.disabled{
            color: #505050;
        }

        .btn-submit:hover{
            background-color: rgba(0, 100, 255, 0.3);
            cursor: pointer;
        }
        .btn-submit.disabled:hover{
            background-color: #fff;
            cursor: default;
        }
    }
}