.wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    
    .chats-sidebar{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: calc(100% - 20px);
        margin: 10px 0;
        // border-radius: 10px;
        // border: 1px solid rgba(0, 100, 255, 0.1);
        // box-shadow: 0px 0px 2px 0px rgba(0, 100, 255, 0.2);
        overflow: hidden;
        
        .username{
            font-weight: 600;
            height: 28px;
            padding: 5px 15px;
            margin: 0px 10px 0px 5px;
            color: rgba(0, 100, 255, 1);
            background-color: rgba(0, 100, 255, .2);
            border-radius: 10px;
            text-wrap: nowrap;
            overflow: hidden;
            flex-grow: 0;
        }

        .header{
            display: flex;
            flex-direction: column;
            background-color: #fff;
            //height: calc(var(--sidebar-width) + 12px);
            height: fit-content;
            user-select: none;
            border-bottom: 1px solid rgba(0, 100, 255, .3);
            flex-grow: 1;
            border-radius: 10px;
            border: 1px solid rgba(0, 100, 255, 0.1);
            box-shadow: 0px 0px 2px 0px rgba(0, 100, 255, 0.2);
            margin: 10px 10px 5px 5px;

            .search-box{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 10px 15px 10px 15px;
                flex-grow: 0;
                
    
                .search{
                    height: 30px;
                    display: flex;
                    flex-direction: row;
                    background-color: #fff;
                    border: none;
                    flex-grow: 1;
                    border-radius: 5px; 
                    border: 1px solid rgba(0, 100, 255, .3);

                    .icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        user-select: none;
    
    
                        .search-icon{
                            width: 100%;
                            padding: 4px;
                            color: #000;
                            cursor: pointer;
                        }
                    }
    
                    input{
                        width: 100%;
                        padding: 10px 20px 10px 0;
                        font-size: 14px;
                        outline: none;
                        
                        background-color: initial;
                        border: none;
                        border-radius: 5px;
                    }
                }
    
                .add-friend,
                .add-group{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    margin: 0 0 0 3px;
                    flex-grow: 0;
                    border-radius: 5px;
                    user-select: none;
                    cursor: pointer;
    
                    &:hover
                    {
                        background-color: rgba(0, 100, 255, 0.2);
                        .add-friend-icon,
                        .add-group-icon{
                            color: rgba(0, 100, 255, 1);
                        }
                    }

                    &:active{
                        background-color: rgba(0, 100, 255, 0.1);
                    }

                    .add-friend-icon{
                        width: 100%;
                        height: 100%;
                        padding: 7px;
                        color: #505050;
                        cursor: pointer;
                    }
                    .add-group-icon{
                        width: 100%;
                        height: 100%;
                        padding: 6px;
                        color: #505050;
                        cursor: pointer;
                    }
                } 
            }
    
            .filter{
                display: flex;
                flex-direction: row;
                justify-content: start;
                flex-grow: 0;
                padding:  0 10px;
                border-bottom:  1px solid rgba(0, 100, 255, .2);
    
                .all, .unread{
                    padding: 5px;
                    cursor: pointer;
                    color: #888888;
                    user-select: none;
                    font-size: 14px;
                    font-weight: 600;
                    border-bottom: 2px solid initial;

                    &:hover{
                        color: rgba(0, 100, 255, 1);
                    }

                    &.active{
                        border-bottom: 2px solid rgba(0, 100, 255, 1);
                        color: rgba(0, 100, 255, 1);
                    }
                }
            }
        }
    
        .items{
            overflow-y: auto;
            flex-grow: 1;
        }
    }
}