.wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .chats-sidebar{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 100%;
        border-right: 1px solid #cccccc;
        padding-top: 6px;
    
        .header{
            display: flex;
            flex-direction: column;
            height: calc(11px + var(--sidebar-width));
            border-bottom: 1px solid #ccc;
            
            .search-box{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 0 15px;
                flex-grow: 1;
    
                .search{
                    height: 30px;
                    display: flex;
                    flex-direction: row;
                    background-color: #e0e0e0;
                    border: none;
                    flex-grow: 1;
                    border-radius: 5px; 
    
                    .icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        user-select: none;
    
    
                        .search-icon{
                            width: 100%;
                            padding: 4px;
                            color: #505050;
                            cursor: pointer;
                        }
                    }
    
                    input{
                        width: 100%;
                        padding: 10px 20px 10px 0;
                        font-size: 14px;
                        outline: none;
                        
                        background-color: #e0e0e0;
                        border: none;
                        border-radius: 5px;
                    }
                }
    
                .add-friend,
                .add-group{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    margin: 0 0 0 3px;
                    flex-grow: 0;
                    border-radius: 5px;
                    user-select: none;
                    cursor: pointer;
    
                    &:hover
                    {
                        background-color: #e0e0e0;
                    }
                } 
    
                .add-friend .add-friend-icon{
                    width: 100%;
                    height: 100%;
                    padding: 7px;
                    color: #505050;
                    cursor: pointer;
                }
    
                .add-group .add-group-icon{
                    width: 100%;
                    height: 100%;
                    padding: 6px;
                    color: #505050;
                    cursor: pointer;
                }
            }
    
            .filter{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-grow: 0;
                padding:  0 10px;
    
                .left{
                    display: flex;
                    flex-direction: row;
    
                    .all, .unread{
                        padding: 5px;
                        cursor: pointer;
                        color: #888888;
                        user-select: none;
                        font-size: 14px;
                        font-weight: 600;
                        border-bottom: 2px solid #fff;
    
                        &:hover{
                            color: rgb(100, 50, 255);
                        }
    
                        &.active{
                            border-bottom: 2px solid rgb(100, 50, 255);
                        }
                    }
                }
    
                .right{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
    
                    .classify{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        padding: 0 15px;
                        font-size: 14px;
                        font-weight: 500;
                        border-radius: 10px;
                        user-select: none;
                        cursor: pointer;
                        border-bottom: 2px solid #fff;
                        border-radius: 100px;
    
                        &:hover{
                            background-color: #e0e0e0;
                        }
    
                        .icon{
                            height: 40%;
                            margin-left: 5px;
                            aspect-ratio: 1/1;
                            background-color: rgba(255,255,255,0);
                            border-bottom: 1px solid #000;
                            border-right: 1px solid #000;
                            transform: rotate(45deg) translateY(-3px); 
                            border-radius: 2px;
                        }
                    }
    
                    .more{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        aspect-ratio: 1/1;
                        user-select: none;
                        cursor: pointer;
                        border-bottom: 2px solid #fff;
                        border-radius: 100px;
    
                        .more-icon{
                            width: 15px;
                            height: 15px;
                            color: #505050;
                            cursor: pointer;
                        }
    
                        &:hover{
                            background-color: #e0e0e0;
                        }
                    }
                }
            }
        }
    
        .items{
            height: 100%;
            overflow-y: auto;
        }
    }
}